@import '../../../styles/breakPoints.scss';

.menu{
    width: 250px;
    background-color: #130E14;
    position: absolute;
    bottom: 85px;
    left: 115px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 24px 14px;
    border-radius: 6px;
    z-index: 100;

    @include respond-to(md) {
        left: 0;
        bottom: 60px;
        width: 200px;
        padding: 20px 10px;
        gap: 20px;
    }

    &>div{
        display: flex;
        gap: 15px;
        align-items: center;

        &>img{
            width: 28px;
            height: 28px;
        }

        &>p{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: white;
        }

        @include respond-to(md) {
            &>img{
                width: 20px;
                height: 20px;
            }

            &>p{
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}