@import '../../../styles/breakPoints.scss';

.menu{
    width: 250px;
    background-color: #130E14;
    position: absolute;
    bottom: 85px;
    left: 115px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 24px 14px;
    border-radius: 6px;

    @include respond-to(md) {
        left: 0;
        z-index: 100;
        bottom: 60px;
    }

    &>div{
        display: flex;
        gap: 15px;
        align-items: center;

        &>img{
            width: 28px;
            height: 28px;
        }

        &>p{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: white;
        }
    }
}