@import '../../../styles/breakPoints.scss';

.slot {
    height: 100vh;
    padding: 34px 0;
    width: calc(100vw - 584px);
    display: flex;
    flex-direction: column;
    margin-left: 420px;
    margin-right: 164px;

    @include respond-to(2xl){
        width: calc(100vw - 684px);
        margin-left: 520px;
    }

    @include respond-to(xl){
        width: calc(100vw - 784px);
        margin-left: 620px;
    }

    &_video {
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: inherit;
    }

    &_text{
        position: absolute;
        top: 8%;
        left: 3%;
        width: 320px;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: all 0.4s ease-in-out;

        &>div{
            background-image: url('../../../assets/png/text.png');
            background-size: 100% 100%;
            width: 100%;
            height: 105px;  
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotate(-3deg);  

            &>p{
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                transform: rotate(3deg);  
                padding: 0 30px;
                padding-top: 5px;
            }
        }
        &>img{
            padding-left: 100px;
        }
    }
}
